<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeadPods</title>
    <link rel="stylesheet" href="/public/style.css">
    <meta name="description" content="DeadPods : Where Stellar Pods Live Forever">
</head>
<body>

    <h1 style="text-align: center;font-size: 40px;">Dead<span style="color: #8CD50B;">Pods</span></h1>
    <h2 style="text-align: center;font-size: 20px;">Where Stellar Pods Live Forever</h2>

    {{#*inline "myPartial"}}
    <div class="podcard">
        <ul>
            <li class="title">{{podcast}} : {{Born}} - {{Died}}</li>
            <li class="episode">
                Essential Episode: <a href="{{episodeURL}}" target="_blank">{{essentialEpisodeTitle}}</a>
            </li>
            <li class="comments">{{comments}}</li>
        </ul>
    </div>
    {{/inline}}

    {{#each data}}
        {{> myPartial}}
    {{/each}}

</body>
</html>